<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div>
        <%= link_to "Contact", contact_path, id: "logo", class:"navbar-brand" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Recommendations", help_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
